#video-background {
    /*  making the video fullscreen  */
      position: fixed;
      right: 0; 
      bottom: 0;
      min-width: 100%; 
      min-height: 100%;
      width: auto; 
      height: auto;
      z-index: -100;
    }

   .container{
       opacity:0.9;
   }


   .img-theme{
    width: 100%;
    height: auto;
    
  }

  .btn{
      color: white;
      background-color: darkblue;
      font-size: 24px;
      font-style: italic;
  }

  #lifts{
      color:darkblue;
      font-size: 18px;
      font-style: italic;
      font-weight:600;
  }

  #runs{
    color:darkblue;
    font-size: 18px;
    font-style: italic;
    font-weight:600;
}

#snowDepth{
    color:darkblue;
    font-size: 18px;
    font-style: italic;
    font-weight:600;
}

#temp{
    color:darkblue;
    font-size: 50px;
    font-style: italic;
    font-weight:600;
}

#sky{
    color:darkblue;
    font-size: 18px;
    font-style: italic;
    font-weight:600;
}

#wind{
    color:darkblue;
    font-size: 18px;
    font-style: italic;
    font-weight:600;
}

#weather{
    color:black;
    font-size:25px;
    font-style: italic;
    font-weight:700;
    
}


.table-responsive-sm{
   font-size: 20px;
   color:darkblue;
   font-style: italic;
}

.card-header{
    font-size: 30px;
   color:darkblue;
   font-style: italic;
   font-weight:700;
}